body {
    background-image: url("../images/scuffedstatic_dark_1920x1234.jpg");
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#GuessWhat {
    color: red;
}

#Wins {
    color: red;
}

#Losses {
    color: red;
}

#Guesses {
    color: red;
}

#SoFar {
    color: red;
}

p {
    margin: 0 0 0 100px;
    padding-top: 20px;
}

video {
    pointer-events: none;
    margin-top: 30px;
}

button {
    background-color: red;
    border-radius: 8px;
    color: black;
}

footer {
    text-align: center;
    margin-bottom: 0 auto;
    padding: 30px;
}
